---
permalink: /{{ locale }}/index.html
---

{% extends "layouts/base.njk" %}

{% set metaTitle = site[locale].metaTitle %}
{% set metaDescription = site[locale].metaDescription %}

{% block content %}

    <main>
        <div class="page current fadeIn">
            <section>
                <h1 class="section-title">The beginning</h1>
                <p>As we commemorate the centenary of the departure of the Peredvizhniki movement, and society once again calls for increased artistic attention to the ever-diminishing realities, we strive to revive the contemporary spirit of the Peredvizhniki movement – realism in service to the ordinary. Through the love of art and the digital form of touring exhibitions, we aim to break the boundaries of space and time, entering the lives of people.</p>
                <p>At this critical moment when there is an urgent need for the resurgence of the Peredvizhniki spirit, we anticipate rekindling the art ideals that departed from us a century ago. Through the “touring” exhibition format, we seek to evoke the artistic philosophy of a bygone era, reshaping humanism, and reviving its modern artistic embodiment – an emphasis on art that also cares about real-life issues. Thus, we will organize a touring art exhibition in Moscow, showcasing the beauty and reality of our human existence.</p>
                <p>The exhibition will gather works from artists of different countries for display in the designated exhibition area in Moscow. The primary format of the exhibition is the “City Mobile Exhibition,” to be held both online and offline simultaneously.</p>
            </section>
            
            <section>
                <h1 class="section-title">Team</h1>
                <div class="team-role">
                    <span class="title">Curator in chief</span>
                    <span>Tao Song</span>
                </div>
                <div class="team-role">
                    <span class="title">Curator, Moscow</span>
                    <span>Xizhu Tan</span>
                </div>
                <div class="team-role">
                    <span class="title">Curator, Sapporo</span>
                    <span>Qiaoqian Zhu</span>
                </div>
                <div class="team-role">
                    <span class="title">Curatorial assistant</span>
                    <span>Wen Su</span>
                    <span>Xumei Miao</span>
                </div>
                <div class="team-role">
                    <span class="title">Academic advisor</span>
                    <span>Marina Alexeevna Politova</span>
                </div>
                <div class="team-role">
                    <span class="title">Design</span>
                    <span>Group 11</span>
                </div>
            </section>
        </div>

        <div class="page">
            <section>
                <p>We’re seeking artwork from young artists aged 18 to 40.</p>
                <p>Artworks should capture themes such as humanity, humanism, family, empathy, and the theme of “loving others.” These interdisciplinary artistic themes possess the unique ability to represent and reconnect with a non-hostile facet of “human life.”</p>
                <p>We invite a variety of artistic forms, including music, painting, dance, and photography, pushing beyond conventional boundaries. However, the dissemination of works will take place through appropriate reproduction formats such as images, videos, or audio.</p>
            </section>

            <section>
                <h1 class="section-title">Submission period</h1>
                <p>
                    Starting from 6:00pm on January 1, 2024
                    <br>
                    until 6:00pm on September 1, 2024
                </p>
            </section>

            <section>
                <h1 class="section-title">Requirements</h1>
                <p>Participating artists must be the creators of the works, ensuring that both the application materials and the artworks themselves are genuine, accurate, and complete.</p>
                <p>Only after the works successfully pass the scrutiny of the organizing unit and receive the formal acceptance notice can they be included in the exhibition.</p>
            </section>

            <section>
                <h1 class="section-title">How to submit</h1>
                <p>Send email to <a href="mailto:submission@humanitas.gallery">submission <i>at</i> humanitas.gallery</a> with the following information:</p>
                <ul>
                    <li>Name</li>
                    <li>Email</li>
                    <li>Phone</li>
                    <li>Résumé or CV</li>
                </ul>
                <p>For each piece of artwork you submit, attach relevant media files as well as the following information:</p>
                <ul>
                    <li>Artwork title</li>
                    <li>Size</li>
                    <li>Materials, if any</li>
                    <li>Artwork type</li>
                    <li>Creative time</li>
                    <li>Artist’s statement</li>
                </ul>
                <p class="emphasis">
                    <a href="mailto:submission@humanitas.gallery?subject=Humanitas Artwork Submission&body=Name:%0D%0AEmail:%0D%0APhone:%0D%0APlease also attach a résumé or CV.%0D%0A%0D%0AFor each piece of artwork, attach relevant media file(s) and include:%0D%0A%0D%0AArtwork title:%0D%0ASize:%0D%0AMaterials, if any:%0D%0AArtwork type:%0D%0ACreative time:%0D%0AArtist‘s statement:">
                        Start a pre-populated email
                    </a>
                </p>
            </section>
            
            <section>
                <p>
                    <em>
                        Please be assured that the organizers and co-organizers are committed to using the works and information for charitable and developmental artistic purposes only.
                    </em>
                </p>
            </section>
        </div>

        <div class="page">
            <section>
                <p>
                    The first edition of <em>Humanistas:</em> will take place in Moscow and will be divided into two parts: a mobile and a stationary exhibition zone. We are negotiating with universities, art galleries and other public organizations about the possibility of using their spaces for an art exhibition.
                </p>
                <p>
                    In addition to the first exhibition, we also plan to send the works to various exhibition venues around the world in the form of images, video or audio to, through art, restore a basic respect and awareness for human life in any place where we may act, and to establish a common vision of life. Looking forward.
                </p>
            </section>
        </div>

        <div class="page">
            <section>
                <h1 class="section-title">Email</h1>
                <p><a href="mailto:hi@humanitas.gallery">hi <i>at</i> humanitas.gallery</a></p>
                <p><em>We kindly ask you to specify the purpose or subject of your email to distinguish submissions from other cases. Thank you for your cooperation!</em></p>
            </section>
        </div>
    </main>

{% endblock %}